.main-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  
  .headline-container {
    width: 60%;
    padding-right: 20px;
  }
  
  
  .info-box {
    text-align: center;
    width: 20%;
    padding-right: 20px;
  }
  