.main-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  border: solid black;
}

.headline-container {
  width: 60%;
  padding-right: 20px;
  border: solid rgb(189, 32, 32);
}


.info-box {
  text-align: center;
  width: 20%;
  padding-right: 20px;
  border: solid rgb(75, 208, 14);
}

.prompt {
  text-align: center;
  border: solid rgb(92, 63, 206);
}

.game-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  border: solid rgb(215, 241, 67);
}

.player {
  display: flex;
  width: 50%;
  border: solid rgb(14, 98, 208);
}

.choice {
  width: 25%;
  border: solid rgb(221, 60, 15);
}

.option {
  flex-direction: column;
  width: 25%;
  border: solid rgb(221, 60, 15);
}
.cmp, .pl{
margin-left: 50%;
}